<form (ngSubmit)="FormSubmit()">
  <fieldset>
    <legend>User Registration</legend>

    <div>
      <label>
        User name:
        <input [(ngModel)]="model().userName" name="userName" autocomplete="off" #user="ngModel" required placeholder="user name or email address" />
      </label>
      <ul *ngIf="user.invalid && user.touched" class="list-unstyled">
        <li *ngFor="let err of ValidationHelper.getValidationMessages(user,'user name')" class="text-danger">
          {{err}}
        </li>
      </ul>
    </div>

    <div>
      <label>
        Password:
        <input [(ngModel)]="model().password" autocomplete="off" type="password" name="password" required placeholder="user password" />
      </label>
    </div>
    <div>
      <label>
        Confirm Password:
        <input [(ngModel)]="model().comparePassword" type="password" name="comparePassword" required placeholder="confirm password" />
      </label>
    </div>
    <div>
      <button type="submit">Register</button>
      <a routerLink="/login">Already registered?</a>
    </div>
  </fieldset>
</form>
